<%- include('../adminlayout/adminHeader') %>

  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">Product Admin</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link " href="/admin/adminHome">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active" href="/admin/category" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="far fa-file-alt"></i>
              <span>
                Category
              </span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link " href="/admin/productList" role="button">
              <i class="fas fa-shopping-cart"></i>
              <span>
                Product
              </span>
            </a>

          </li>

          <li class="nav-item ">
            <a class="nav-link " href="/admin/bannerMgt" role="button">
              <i class="fa-solid fa-images"></i>
              <span>
                Banner
              </span>
            </a>

          </li>


          <li class="nav-item">
            <a class="nav-link" href="/admin/userMgt" role="button">
              <i class="far fa-user"></i>
              User
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/orderMgt" role="button">
              <i class="fa-solid fa-truck"></i> Orders
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon" role="button">
              <i class="fa-solid fa-tag"></i>Coupon
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/salesReport" role="button">
              <i class="fa-thin fa-file-chart-column"></i>Sales Report
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">

            <a class="nav-link d-block" href="/admin/logout">
              Admin, <b>Logout</b>
            </a>

          </li>
        </ul>

      </div>
    </div>

  </nav>

  <div class="container mt-5">
    <div class="row tm-content-row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th>PRODUCT CATEGORIES</th>
                  <th>DESCRIPTION</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <% for(i=0;i<categoryDetails.length;i++) { %>

                  <tr>
                    <td class="tm-product-name">
                      <%= categoryDetails[i].category_name %>
                    </td>
                    <td class="tm-product-name">
                      <%= categoryDetails[i].category_description %>
                    </td>

                    <td class="text-center">
                      <% if(categoryDetails[i].is_deleted=="not" ){ %>
                        <a href="/admin/categoryEdit?id=<%=categoryDetails[i]._id%>"
                          class="tm-product-delete-link btn btn-primary">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a href='' class="tm-product-delete-link btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#exampleModal<%=categoryDetails[i]._id%>">
                          <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                        <% }else{ %>
                          <a href='/admin/restore?id=<%= categoryDetails[i]._id %>'
                            class="tm-product-delete-link btn btn-primary">
                            <i class="fa-solid fa-flag " style="color: yellowgreen;"></i>
                          </a>
                          <% } %>

                    </td>
                  </tr>


                  <div class="modal fade" id="exampleModal<%=categoryDetails[i]._id%>" tabindex="-1"
                    aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Alert
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure to delete this category?!
                          Once You deleted You cannot restore it!!
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/admin/categoryDelete?id=<%=categoryDetails[i]._id%>" class="btn btn-primary"> Delete
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <a href="/admin/addCategory" class="btn btn-primary btn-block text-uppercase mb-3">Add new
            Category</a>

        </div>
      </div>
    </div>
  </div>




  <script>


  </script>
  <% if (message=="Category Edited Successfully" ||message=="Category Successfully Deleted"
    ||message=="Category Successfully Restored" ) { %>
    <script>
      swal("Success!", "<%= message %>", "success");
    </script>
    <%}else if(message!==null){%>
      <script>
        swal("Error!", "<%= message %>", "error");
      </script>
      <% } %>


        <%- include('../adminlayout/adminFooter') %>