<%- include('../adminlayout/adminHeader') -%>




  <nav class="navbar navbar-expand-xl">
    <div class="container h-100">
      <a class="navbar-brand" href="index.html">
        <h1 class="tm-site-title mb-0">Product Admin</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link" href="/admin/adminHome">
              <i class="fas fa-tachometer-alt"></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="/admin/category" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="far fa-file-alt"></i>
              <span>
                Category
              </span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/admin/productList" role="button">
              <i class="fas fa-shopping-cart"></i>
              <span>
                Product
              </span>
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link " href="/admin/bannerMgt" role="button">
              <i class="fa-solid fa-images"></i>
              <span>
                Banner
              </span>
            </a>

          </li>


          <li class="nav-item">
            <a class="nav-link" href="/admin/userMgt" role="button">
              <i class="far fa-user"></i>
              User
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/admin/orderMgt" role="button">
              <i class="fa-solid fa-truck"></i> Orders
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/coupon" role="button">
              <i class="fa-solid fa-tag"></i>Coupon
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/salesReport" role="button">
              <i class="fa-thin fa-file-chart-column"></i>Sales Report
            </a>
          </li>

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">

            <a class="nav-link d-block" href="/admin/logout">
              Admin, <b>Logout</b>
            </a>

          </li>
        </ul>

      </div>
    </div>

  </nav>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Edit Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="/admin/productEdit?id=<%= productDetails._id %>" method="post" class="tm-edit-product-form"
                enctype="multipart/form-data">
                <div class="form-group mb-3">
                  <label for="name">Product Name
                  </label>
                  <input id="name" name="name" type="text" class="form-control validate"
                    value="<%= productDetails.product_name %>" required />
                </div>
                <div class="form-group mb-3">
                  <label for="category">Category</label>
                  <select class="custom-select tm-select-accounts" id="category" name="category">
                    <option selected>
                      <%= productDetails.category.category_name %>
                    </option>

                    <% for(i=0;i<categoryList.length;i++) {%>
                      <option>
                        <%= categoryList[i].category_name %>
                      </option>
                      <% } %>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <input class="form-control validate" rows="3" , name="description"
                    value="<%= productDetails.product_description %>" required></input>
                </div>

                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="price">Price
                    </label>
                    <input id="" name="price" type="text" class="form-control validate" data-large-mode="true"
                      value="<%= productDetails.price %>" required />
                  </div>
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">Quantity
                    </label>
                    <input id="stock" name="stock" type="text" class="form-control validate"
                      value="<%= productDetails.stock %>" required />
                  </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="custom-file mt-3 mb-3">
                <div>
                  <%for(let i=0;i<productDetails.images.length;i++){%>
                    <img width="100" src="/product-images/<%= productDetails.images[i] %>" alt=""
                      style="position: relative; display: flex-row; justify-content: space-between; margin-left: 15px;">
                    <a href="/admin/deleteImage?file=<%= productDetails.images[i] %>&&id=<%= productDetails._id %>"
                      style="text-decoration: none; color: rgb(137, 97, 97); "><i class="fa-solid fa-square-xmark"
                        style="position: absolute;"></i></a>
                    <%}%>
                </div>
                <input id="fileInput" name="images" type="file" style="display:none; " multiple />
                <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                  onclick="document.getElementById('fileInput').click();" />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Product</button>
            </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('../adminlayout/adminFooter') -%>